.header {
  font-size: 1rem;
  font-weight: 500;
  color: #444242;
  margin-bottom: 1rem;
}

.predictionHeader {
  font-size: 1.25rem;
  font-weight: 600;
  color: #444242;
  margin-bottom: 1.25rem;
}

.subHeading {
  font-size: 0.875rem;
  color: #726e6e;
  margin-bottom: 0.75rem;
}

li {
  font-size: 0.875rem;
  color: #726e6e;
}
