.dashboard {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  position: relative;
  width: 100%;
  height: 100vh;
}

.overlayContainer {
  background-color: rgba(12, 12, 12, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.logOutContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 150px;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: #e9e9e9;
  border-radius: 12px;
  padding: 1.25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logOutHeader {
  font-size: 1.125rem;
  color: #252424;
}

.buttonContainer {
  margin-top: 1.5rem;
}

.cancelButton {
  margin-right: 0.75rem;
  padding: 0.5rem 0.875rem;
  border-radius: 8px;
  background-color: #1c2d5e;
  color: #f9f9f9;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cancelButton:hover {
  background-color: #2a3c7a;
  color: #f9f9f9;
}

.logoutButton {
  padding: 0.5rem 0.875rem;
  border-radius: 8px;
  border: 1px solid #444242;
  background-color: transparent;
  color: #6b7280;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logoutButton:hover {
  background-color: #f3f4f6;
  color: #1c2d5e;
}
