.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin-top: 2rem; */
}

.container h1 {
  font-size: 2rem;
  font-weight: 400;
  color: #252424;
  margin: 0;
}

.subHead {
  font-size: 1rem;
  color: #8d8d8d;
  margin-top: 0;
}

.rightSideContainer {
  display: flex;
  gap: 3rem;
}

.searchInput {
  flex: 1;
  width: 400px;
  display: flex;
  align-items: center;
}

.search {
  flex: 1;
  height: 36px;
  font-size: 1rem;
  padding-left: 8px;
  border: 1px solid #b4aeae;
  background-color: transparent;
  border-radius: 8px 0 0 8px;
  width: 0;
  outline: none;
}

.iconContainer {
  min-height: 100%;
  padding: 0.5rem 0.5rem;
  background-color: #bdbdbd;
  border-radius: 0 8px 8px 0;
}

.searchIcon {
  width: 20px;
}
