.outerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  /* width: 100%; */
}

/* .expand {
  width: 180px;
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
} */
