.accountDetailsForm {
  margin-top: 1rem;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.acctNumInput,
.bankNameInput {
  margin-bottom: 1rem;
}

.labelName {
  font-size: 1rem;
  color: #2c2b2b;
}

.inputField {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  background-color: #e7e7e7;
  border: none;
  outline: none;
  margin: 0.25rem 0;
}

.inputField::placeholder {
  font-size: 0.875rem;
  color: #acb1c0;
}

.ctaButton {
  background-color: #1c2d5e;
  color: #f9f9f9;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
}

.recentContainer {
  margin-top: 1rem;
}

.errorText {
  color: #fa2e2e;
  font-size: 0.875rem;
  padding-left: 0.75rem;
}
