.accountDetailsForm {
  margin-top: 1rem;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.acctNumInput,
.bankNameInput {
  margin-bottom: 1rem;
}

.labelName {
  font-size: 1rem;
  color: #2c2b2b;
}

.inputField {
  width: 100%;
  padding: 0.625rem 0.75rem;
  border-radius: 8px;
  background-color: #e7e7e7;
  color: #333333;
  font-size: 15px;
  border: none;
  outline: none;
  margin: 0.25rem 0;
}

.inputField::placeholder {
  font-size: 0.875rem;
  color: #6b7280;
}

.ctaButton {
  background-color: #1c2d5e;
  color: #f9f9f9;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
}

.recentContainer {
  margin-top: 1rem;
}

.errorText {
  color: #fa2e2e;
  font-size: 0.875rem;
  padding-left: 0.75rem;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.loadingText::after {
  content: "...";
  animation: blink 1.5s infinite steps(3, end);
}
