.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  background-color: #f8f8f8;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.headerText {
  font-size: 1.75rem;
  font-weight: 400;
  color: #1c2d5e;
  margin: 20px 0;
}

.emailInput,
.password {
  /* margin-bottom: 12px; */
  padding: 0.75rem 1rem;
  width: 65%;
  border-radius: 0px;
  border: none;
  outline: none;
  background-color: #d7d7d7;
}

.signUpBtn {
  color: #f9f9f9;
  background-color: #1c2d5e;
  width: 65%;
  padding: 0.75rem;
  /* border-radius: 24px; */
}

.toggleOption {
  margin-top: 0.5rem;
  color: #303030;
}

.toggleBtn {
  font-weight: 500;
  color: #1c2d5e;
  margin-left: 0.25rem;
}

.errorMsg {
  font-size: 0.875rem;
  color: #fa2e2e;
}
