.savingsContainer {
  background-color: #f9f9f9;
  margin-top: 2.25rem;
  padding: 1rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title h1 {
  font-size: 1.25rem;
  color: #444242;
}

.subHeading {
  font-size: 0.875rem;
  color: #726e6e;
  margin-top: 1.5rem;
}

.targetHeader {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.target {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.target h2 {
  font-size: 0.875rem;
  color: #615e5e;
}

.targetAmount {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1c2d5e;
}

.weeksX {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.2rem;
}

.weeksX div {
  font-size: 0.75rem;
  color: #444242;
}

.monthlySaving {
  font-size: 1rem;
  font-weight: 500;
  color: #444242;
  text-align: center;
  margin-top: 1rem;
}

.goalButton {
  width: 100%;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 0.625rem 0.75rem;
  background-color: #1c2d5e;
  color: #f9f9f9;
  border-radius: 8px;
}
