.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin-top: 2rem; */
}

.container h1 {
  font-size: 2.25rem;
  font-weight: 600;
  color: #252424;
}

.rightSideContainer {
  display: flex;
  gap: 3rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchInput {
  display: flex;
  justify-content: end;
  width: 306px;
  height: 32px;
  padding: 0.125rem 1rem;
  border: 1px solid #b4aeae;
  border-radius: 8px;
}

.search {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}

.searchIcon {
  width: 20px;
}
