.summaryContainer {
  margin-top: 1rem;
  background-color: #f9f9f9;
  padding-top: 1.25rem;
  padding: 1.25rem;
  border-radius: 8px;
}

.summaryHeader {
  font-size: 1.25rem;
  font-weight: 600;
  color: #444242;
}
