.budgetForm {
  margin-top: 2.25rem;
  background-color: #f9f9f9;
  padding: 1.25rem 1.25rem;
  border-radius: 8px;
}

.budgetNameContainer {
  width: 100%;
  margin-bottom: 1rem;
}

.header {
  font-size: 1.25rem;
  color: #444242;
  margin-bottom: 1rem;
}

.budgetName,
.budgetAmount,
.addBudget {
  width: 100%;
  padding: 0.625rem 1rem;
  outline: none;
  border: none;
  border: 1px solid #c8c8c8;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.addBudget {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 200;
  background: #6275ad;
  color: #f9f9f9;
  margin-top: 1.5rem;
}

.active {
  background-color: #1c2d5e;
}

.errorText {
  color: #fa2e2e;
  font-size: 0.875rem;
  padding-left: 0.75rem;
}
