.tipsAdviceContainer {
  background-color: #f9f9f9;
  margin-top: 1rem;
  padding: 1rem;
}

.tipsAdviceContainer h4 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #444242;
  margin-bottom: 0.975rem;
}

.subHeading {
  font-size: 0.875rem;
  color: #726e6e;
  margin-bottom: 1rem;
}

.allocationContainer {
  margin-bottom: 1rem;
}

.name,
.amount,
.newBudget {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border: 1px solid #c8c8c8;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.newBudget {
  margin-top: 1.5rem;
  color: #f9f9f9;
  font-weight: 200;
  background: #6275ad;
  border-radius: 8px;
}

form {
  width: 100%;
}
