.cardsFrame {
  margin-top: 1rem;
  width: 100%;
  padding: 1.25rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: 2.4375rem;
  position: relative;
}

.cardsFrame h2 {
  font-size: 1.25rem;
  color: #444242;
}

.cardContainer {
  width: 100%;
}

.card {
  /* height: 10.875rem;
  width: 18.9375rem; */
  width: 100%;
  border-radius: 16px;
  padding: 1rem;
  background: linear-gradient(90deg, #1c2d5e -26.26%, #e1631c 121.04%);
  margin-top: 1.5rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading h3 {
  font-size: 1rem;
  font-weight: 200;
  color: #f9f9f9;
}

.balanceContainer {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.balance {
  font-size: 1.5rem;
  color: #f9f9f9;
  margin-top: 1rem;
}

.hideButton {
  width: 18px;
  padding-top: 0.25rem;
}

.cardNumber {
  font-size: 0.75rem;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 1rem;
  color: #f9f9f9;
}

.cardType {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #f9f9f9;
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

.addCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  color: #f9f9f9;
  background-color: #1c2d5e;
  padding: 0.625rem;
  width: 100%;
  margin-top: 1rem;
}

.transferScreen {
  position: absolute;
  top: 0;
  right: 0;
  background-color: burlywood;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}
