.inputField,
.categoryInput {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  border: none;
  outline: none;
}

.categoryInput {
  height: 90px;
  text-align: left;
}

.inputField::placeholder {
  font-size: 0.875rem;
}

.descriptionContainer {
  margin-top: 0.75rem;
}

.descriptionContainer label {
  color: #444242;
}

.payButton {
  background-color: #1c2d5e;
  color: #f9f9f9;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
}
