.smartInsightConatiner {
  padding: 1rem 1.5rem;
  border-radius: 0 8px 8px 0;
}

.header {
  font-size: 1.25rem;
  /* font-weight: 600; */
  color: #444242;
  margin-bottom: 1.25rem;
}

.insightsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

ul {
  list-style-type: disc;
}

.insights {
  color: #444242;
  font-size: 0.75rem;
}

.insights {
  list-style-position: outside;
}
